.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(26, 86, 229, 0.7), rgba(229, 169, 26, 0.4)),
        url('https://images.pexels.com/photos/756856/pexels-photo-756856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
}

.links a {
    display: block;
    font-size: 24px;
    padding: 20px 40px;
    margin: 20px;
    color: #fff;
    border-radius: 5px;
    background-color: var(--color-primary);
    text-decoration: none;
    text-align: center;
}
